[2014-12-30 20:49] mbardelmeijer opened #1 "Sorting with a where clause"
Hi,

I would like to use your sortable trait, but i have a issue. I'm have a single model which uses a where clause to list it's items.

For example, i have a eloquent model "FoodItems" which has a category slug (i.e. cheese and bread)
I would like to sort these items in that slug.

I could not find this in the documentation or the source code if this was possible, and if so, how. Could you let me

[2014-12-31 14:59] #1 closed, assigned to boxfrommars

[2015-04-22 15:19] YOzaz opened #2 "Sorting Pivot tables"
Hey - would it be possible to extend this package for sorting relationships through pivot tables?
I have a many-to-many relation through pivot, and need sorting to be there...

[2015-04-23 09:48] boxfrommars commented on #2
you should add position field to your pivot table, then create model for pivot table, and add SortableTrait to this model. Now you can move entities with `moveBefore` and `moveAfter`. Also you can modify jquery UI example (replace `data-itemId="{{{ $article->id }}}"` with `data-itemId="{{{ $article->pivot->id }}}"` and change model in `rutorika/sortable/config.php` to `PivotModel`)

but i dont kno

[2015-04-23 11:36] YOzaz commented on #2
@boxfrommars thanks for reply. But I believe it would require a little bit more than that - like in example here: http://stackoverflow.com/a/24247952

[2015-04-30 14:32] wstudios opened #3 "Laravel 5 compatible?"
Will this work in Laravel 5 and if not will there be an update?

[2015-04-30 14:52] boxfrommars commented on #3
not yet. but i'm going to update the package in a few week

[2015-05-01 22:45] vluzrmos commented on #3
Consider my PR #5

[2015-05-02 02:42] boxfrommars commented on #3
@wstudios i've merged PR by @vluzrmos, so, now package is L5 compatible

[2015-05-02 02:42] #3 closed

[2015-05-02 02:54] vluzrmos commented on #3
:+1:

[2015-06-12 02:53] jrean commented on #2
Hi, before going deeper @YOzaz did you find a solution?
I need the exact same logic!

--

I try to understand how can I use it for `pivot` tables?
I have a Venue and an Event model. A Venue can have many Event(s) and an Event belongToMany Venue(s). So I have the pivot table but no Eloquent Model...
For each Venue, I would like to display the attached Event(s) and being able to manage Event(s) orde

[2015-06-12 05:33] boxfrommars commented on #2
@jrean I think approach at stackoverflow link posted by @YOzaz is the right way. i'll try to implement it today

[2015-06-12 05:40] jrean commented on #2
I will dig into it so! Thank you for your fast answer.
Anyway, If you can implement it, I will use your package!
:-)

[2015-06-12 07:22] YOzaz commented on #2
@jrean I ended up with separate model, which represents relationship between other two. Not ideal though...

[2015-06-12 10:30] jrean commented on #2
@boxfrommars I tried to dig into the stackoverflow link posted but, hum, it is yet to complex for my level, ...
I hope you'll find the time and energy to implement it.
Thank you in advance.

[2015-06-14 12:14] boxfrommars commented on #2
@YOzaz @jrean I've added pivot sorting to the package. see readme for docs and http://sortable5.boxfrommars.ru/posts for demo.

[2015-06-15 08:29] YOzaz commented on #2
Brilliant! Thanks a lot - but I'll take a look after a month or so only, on holidays at the moment :)

[2015-06-15 08:31] jrean commented on #2
@boxfrommars you rock! Thank you :)

Now I have a question, I will open a new issue if needed.

For instance I have a `Serie` and `Episode` tables. A `Serie` has many `Episodes` and an `Episode` belongs to many `Serie`.
I will have a pivot table `serie_episode`.

With your package when I create a new `Episode` it will automatically hydrate the order position. How could we override / extends this b

[2015-06-15 08:43] jrean commented on #2
Brillant! Thank you :)

[2015-06-15 09:16] #2 closed

[2015-07-06 16:08] YOzaz opened #6 "Sorting by two group fields"
Hey,

I was wondering, how hard it would be to implement sorting by multiple group fields? Suppose it shouldn't be hard:

[code]
Similar adjustment can be made for `_applySortableGroup`.
Collection::make() can be moved to `getSortableGroupField` function.
I'm using Laravel 4 package by the way.

[2015-08-13 11:58] 7talents opened #7 "No Re-Sorting after Delete?"
Is it something I am missing, or does the trait not re-sort the remaining entries in the database after I delete one or multiple entries by Eloquent ->delete() ?

[2015-08-13 12:30] boxfrommars commented on #7
@7talents You are not missing, there is no resort after delete. My approach is that you shouldn't think about `position` values, so you shouldn't worry about gaps in it, because gaps not affect the functionality. But if you want, you can add reposition on delete event. Something like:

[code]

[2015-08-13 12:32] 7talents commented on #7
Great, thank you for the clarification. Did not thinkt about it that way, but now that saying it, I get it that it the value of the position is no neccessarily relevant.

[2015-08-13 12:54] boxfrommars commented on #7
I have added this clarification to the readme. Thank you for the question!

[2015-08-13 12:54] #7 closed

[2015-08-25 17:54] markpolarisdesign opened #8 "How to change primaryKey ?"
how to change primary key from id to article_id

This is my error.
SQLSTATE[42S22]: Column not found: 1054 Unknown column 'id' in 'where clause' (SQL: select count(*) as aggregate from `articles` where `id` = 2)

Thank you

[2015-08-25 19:39] boxfrommars commented on #8
@markpolarisdesign I think I fixed the issue. now you just need to set
[code]
in your model

[2015-08-25 20:01] boxfrommars commented on #6
@YOzaz I think it wouldnt be hard, but I don't see the point to do it now. So if somebody will need this functionality, I implement it, but not now.

[2015-08-26 02:27] markpolarisdesign commented on #8
![2015-08-26_9-25-01](https://cloud.githubusercontent.com/assets/13967962/9484278/6305d358-4bd4-11e5-9335-b02e45319322.jpg)
![2015-08-26_9-24-35](https://cloud.githubusercontent.com/assets/13967962/9484279/6339da5e-4bd4-11e5-9bb1-d30485d8e901.jpg)

Hahaha...  I tried but same error.

[2015-08-26 02:41] markpolarisdesign commented on #8
I try

**Model**
$primaryKey = 'article_id';

**DB primarykey column**
column name = 'article_id';

show error : unknown column 'id'

---

**Model**
$primaryKey = 'article_id';

**DB primarykey column**
column name = 'id';

show error : unknown column 'articles.article_id'

---

**Model**
$primaryKey = 'id';

**DB primarykey column**
column name = 'id';

It's ok

why ? hahaha

[2015-08-26 02:53] markpolarisdesign commented on #8
![2015-08-26_9-52-52](https://cloud.githubusercontent.com/assets/13967962/9484564/3d04e3d4-4bd8-11e5-94d6-46b6a5958229.jpg)

Ok :) It's ok when i create method for sort

[2015-08-26 02:56] markpolarisdesign commented on #8
![2015-08-26_9-55-53](https://cloud.githubusercontent.com/assets/13967962/9484595/ad1100cc-4bd8-11e5-9c8d-1256788b2e6b.jpg)

It's ok when i create new method for sort.

[2015-08-26 07:18] boxfrommars commented on #8
Yes, because error is in validation, and in you method you don't use validation.

Did you update the package?

[code]

It should be 2.3.1

[2015-08-26 08:24] YOzaz commented on #6
@boxfrommars thanks for paying attention here. In my case, a model is depended on two fields, e.g. a Photo can have a relationship to Post and a Gallery.
In general, this becomes required when you're working with polymorphic relations a lot.

[2015-08-31 00:18] boxfrommars commented on #8
All tests are passed

[2015-08-31 00:18] #8 closed

[2015-11-26 18:39] gabrielfreiberg opened #10 "After composer update, previous() and next() queries have "LIMIT 0""
After a composer update I did today, the previous() and next() queries look like they are being limited to 0 records.

I'm trying to track down exactly which update caused it, but i've so far narrowed it down to one of the following (see below).  I'm thinking laravel core is the most likely contender.  Any ideas?

[code]

[2015-11-26 18:46] boxfrommars commented on #10
@gabrielfreiberg  Yes, Laravel behaviour for the `->limit(0)` method has changed. see https://github.com/laravel/framework/issues/10749
i'll fix it, but i need some time to decide, what is the best solution for this issue

[2015-11-26 18:54] gabrielfreiberg commented on #10
Interesting, thanks for the info!

I'm just noticing the default value $limit = 0 in SortableTrait.  So the fix for me would be to simply pass a value into previous() or next().

[2015-11-26 18:54] boxfrommars commented on #10
@gabrielfreiberg done, [2.3.2](https://github.com/boxfrommars/rutorika-sortable/releases/tag/2.3.2) has the fix

[2015-11-26 18:55] gabrielfreiberg commented on #10
Thanks!

[2015-11-26 18:55] #10 closed

[2015-11-29 03:25] imagra opened #11 "remove numeric rule for id and positionEntityId in SortableController.php"
If in target model the key field  is UUID (or other non numeric type) then validator fails.

[2015-12-01 10:56] boxfrommars commented on #11
done in [v2.3.3](https://github.com/boxfrommars/rutorika-sortable/releases/tag/2.3.3)

[2015-12-01 10:57] #11 closed

[2015-12-04 13:19] giordanolima commented on #6
+1

[2015-12-05 12:17] boxfrommars commented on #6
thank you @giordanolima! see version 2.4.0 for this functionality

[2015-12-05 12:17] #6 closed

[2015-12-19 12:28] huglester opened #15 "`position` hardcoded?"
Hello,

are there any plans to make it customizable?

[2015-12-19 13:40] boxfrommars commented on #15
Done! Available at [v3.0.0](https://github.com/boxfrommars/rutorika-sortable/releases/tag/3.0.0)

Just add `$sortableField` property to your model
[code]

[2015-12-20 20:55] huglester commented on #15
Fast! Thank you!

[2015-12-20 20:55] #15 closed

[2016-01-06 05:11] timganter opened #16 "Sortable polymorphic many to many, inverse relationship sorting?"
Hello!

First off, this is fantastic plugin! It works really well. Thanks for building it!

I was trying to do the inverse of what you had in your example. http://sortable5.boxfrommars.ru/posts

Rather than sorting tags within a post. Is it possible to sort posts within a tag? I couldn't figure out if that was possible.

Thanks again!
-Tim

[2016-01-06 05:48] boxfrommars commented on #16
@timganter Hello! Thank you :)
can you provide your current database structure?

[2016-01-06 06:00] timganter commented on #16
@boxfrommars Sure! I'm going to email it to you if you don't mind. Just don't want to post it here where it's public since it's client work. =)

[2016-01-06 06:30] boxfrommars commented on #16
@timganter Got it. Yes, your structure is almost the same as in the demo. Do you need sorting both tags and posts? If you don't, solution is:

1. Remove `BelongsToSortedManyTrait` and replace `->belongsToSortedMany` with default `->belongsToMany` in the your `Post` model
2. Add to the `Tag` model:
[code]

Note, that now you should use
[code]
instead of `$post->tags()->...`

[2016-01-06 16:52] timganter commented on #16
@boxfrommars Thanks Dmitry.

I gave that a shot. I'm using polymorphic relations. So, in my Post model I have...

[code]

In my Tag model I have...

[code]

However I'm getting an SQL error.

[code]

Did I hook things up correctly?

Thanks again for your help!

[2016-01-09 05:54] boxfrommars commented on #16
@timganter Sorry for waiting.
I've added `->morphedBySortedMany` relation and demo for it: http://sortable5.boxfrommars.ru/albums-and-videos

So you need add to your `Tag` model `MorphToSortedManyTrait` trait and this relation: (like in the https://github.com/boxfrommars/rutorika-sortable-demo5/blob/master/app/Author.php)
[code]
and then you can attach/sync/save posts to this tag (not vice versa):

[2016-01-09 05:56] boxfrommars commented on #16
@timganter I've forgot to say, you should update the package to the version 3.1.0 for this functionality

[2016-01-11 01:33] hassankhan opened #17 "Mass update positions on a model"
Is there any way to receive an sorted array of ids and use that to update the position on each row?

[2016-01-11 02:00] boxfrommars commented on #17
Yes, you can, something like
[code]
Note, that it may be slow if you have a lot of rows.

Also you can do it with SQL:
[code]

But i think it's not necessary to update positions, see #7

[2016-01-11 02:10] timganter commented on #16
@boxfrommars So cool! Thanks again man! =)

[2016-01-11 03:48] hassankhan commented on #17
I'm receiving an array of `ids[]` from a request:

[code]

I was hoping there was a way to do it without using a for loop :)

[2016-01-11 05:21] boxfrommars commented on #17
@hassankhan Oh, understood.
I see only one improvement: You can update positions without retrieving items:
[code]
But you should be careful, because no events will be fired

[2016-01-14 10:18] #17 closed

[2016-01-14 10:18] #16 closed

[2016-03-01 18:17] fonz-lu opened #18 "Call to undefined method Illuminate\Database\Query\Builder::siblingssiblings()"
Hi,

I'm using the "Sortable many to many" and everything works as expected.

My database structure is like the one you gave in the readme. But I am sorting the posts and not the categories (tags).

When I display all the posts for one tag, everything works. Sorting works. Added post gets the correct position. etc.

What I want to do next is when I display one post, I to want to display within tha

[2016-03-02 12:40] boxfrommars commented on #18
First of all you don't need `belonsToSortedMany` relation in the `Faq_post` (you cannot order both categories and posts with the same column `position`). Also you don't need `\Rutorika\Sortable\SortableTrait` in the `Faq_post`, this trait is for 'plane' sorting only (not for sorting through relations). Therefore you can't use `$post->next()` to get next post in your category. I think you can get n

[2016-03-02 12:42] boxfrommars commented on #18
@fonz-lu First of all you don't need `belonsToSortedMany` relation in the `Faq_post` (you cannot order both categories and posts with the same column `position`). Also you don't need `\Rutorika\Sortable\SortableTrait` in the `Faq_post`, this trait is for 'plane' sorting only (not for sorting through relations). Therefore you can't use `$post->next()` to get next post in your category. I think you

[2016-03-02 13:21] fonz-lu commented on #18
Ok thanks, I will try

Shouldn't the line 141 in SortableTrait.php be
[code]
instead of
[code]

[2016-03-02 13:30] boxfrommars commented on #18
@fonz-lu Hmm, may be you accidentally change the file? Because in the repository it's ok with this file: https://github.com/boxfrommars/rutorika-sortable/blob/master/src/Rutorika/Sortable/SortableTrait.php#L150

[2016-03-02 16:40] fonz-lu commented on #18
Yes, I think a changed that by accident.

I am using Baum with this example https://github.com/etrepat/baum/wiki/Example:-Products-and-categories

I moved away from the pivot table and now I am using the grouped method of sortable. The post model now uses the SortableTrait, but next() and previous() still doesn't work. I did use something you posted above and everything works as expected.

Thank y

[2016-03-02 16:40] #18 closed

[2016-03-02 16:49] boxfrommars commented on #18
@fonz-lu Note that `->next()` and `->previous()` returns `QueryBuilder`, so if you want to get a collection of posts or post you should do
[code]

[2016-03-27 15:48] rudolphp opened #19 ""entityClass":["The entity class field is required."]"
I get this error after drag and drop. The entity name is what I gave in config/sortable.php
[code]
Is there some other config needed. I don't see this error message in the source code so I can debug.

[2016-03-27 16:18] boxfrommars commented on #19
@rudolphp this error means that there is no class `\App\Pages` in your app. May be it's a typo and you class is `\App\Page`?

[2016-03-27 17:36] rudolphp commented on #19
@boxfrommars thank you that error is gone, and now I do get a "success" message, but the position column is not getting updated in the db.

[2016-03-27 17:48] boxfrommars commented on #19
@rudolphp what request did you send?

[2016-03-28 04:11] rudolphp commented on #19
@boxfrommars It works thanks!. On another note, can the grouping be done with a parentID in the same table as in the article table. So I would have a parent article and under it many child articles.

[2016-03-29 10:02] danielispas opened #20 "Array to string conversion error if $sortableGroupField is an array"
I set `protected static $sortableGroupField = ['fieldName1','fieldName2'];` as in documentation and it throwed an array to string conversion exception in SortableTrait.php on line 255. I managed to solve this problem by adding an else after the if with is_array condition and it worked. Here is the code:
[code]

[2016-03-29 10:13] boxfrommars commented on #20
@danielispas what version of the package do you use?

[2016-03-29 10:14] boxfrommars commented on #19
@rudolphp yes, i think.

[2016-03-29 10:16] danielispas commented on #20
I use 3.1
Composer.json:
`"rutorika/sortable": "^3.1",`

[2016-03-29 10:32] boxfrommars commented on #20
I just updated version (3.2.0). I think it has fix for this issue.

[2016-03-29 11:39] danielispas commented on #20
I updated and the issue is gone. Thanks for a great project.

[2016-03-29 11:39] #20 closed

[2016-03-29 14:56] #19 closed

[2016-04-14 05:34] vachanesh opened #21 "can we implement this with 2 eloquent modules. how can i define 2 entites"

[2016-05-06 22:12] boxfrommars commented on #21
@vachanesh do you still have this question? Could you explain what are you trying to do?

[2016-05-09 14:04] #21 closed

[2016-07-08 20:40] rentalhost opened #24 "Moving between two numbers"
It's not a issue, but a question about your package. I'm thinking to use that, but I like to know some details.

Imagine that I have position range(0, 1000000), all persisted on database. What should happen when I move to position 500000? I will have two objects on this position, or it'll move 500000 to 1000000 subsequents to next position?

Thanks and sorry for open an issue for that.

[2016-07-08 21:02] boxfrommars commented on #24
when you move entity you can't move it to position 500,000. you can only move entity before (or after) some other entity. for example:
you have `entity1`, which position is 500,000 and `entity2`, which position is 1,000,000 and you want to move `entity2` before `entity1`:

[code]
so for all entities which position was >=500,000 position increased by 1.

[2016-09-02 11:27] nicolasbinet opened #25 "Is-it possible to add use sortableGroupField in many to many polymorphic relation ?"
I would like to implement a sortable behavior with plank/laravel-mediable, but can't figure out how and where to set the sortableGroupField ?
Any help would be welcome ?

[2016-09-07 13:01] Devillllll commented on #25
I don't know how to use Sortable groups
could you tell me

[2016-10-22 09:10] brealme opened #26 "You can't move entities with different sortable group"
# You can't move entities with different sortable group: 5 4

i have already two entities and when i am adding third entities in config/sortable.php file after than raised error in third entities
first two entities working properly but third is not working and that error raised.

I want multiple rows drag and drop, is it possible in rutorika-sortable??

plz give me solution

[2016-11-03 16:48] elephantux opened #27 "SoftDelete & Restore"
When I use soft delete to remove record, position was recalculated. But when $model->restore() nothing happened and I got two records with the same position.
Any solution?

[2016-11-05 12:58] brealme opened #28 "Multiple Rows drag and drop using rutorika sortable package. is it posible in rutorika sortable package??"
Is it posible in rutorika sortable package??

[2016-11-05 13:00] #28 closed

[2016-11-05 13:03] brealme opened #29 "Multiple Rows drag and drop"
Is it possible in rutorika sortable package?

[2016-11-07 13:36] boxfrommars commented on #29
@brealme Can you explain step by step what do you want?

[2016-11-07 14:06] boxfrommars commented on #26
See #29

[2016-11-07 14:06] #26 closed

[2016-11-07 14:08] boxfrommars commented on #29
from #26

[2016-11-07 14:14] boxfrommars commented on #27
@elephantux i think you can listen "eloquent.restoring" event and update position of the record

[2016-11-08 04:26] brealme commented on #29
Is there any way to select multiple rows from a single data-table and drag and drop all selected rows to the same data-table and on dropping, i want all rows positions to be updated in the database. Is it possible? if yes, then how?

[2017-03-01 09:27] ZAZmaster opened #30 "Laravel 5.4 compatible?"

[2017-03-01 12:58] ZAZmaster commented on #30
Yep, getBelongsToManyCaller is now getRelations
proof https://github.com/corcel/corcel/pull/244/commits/939323f856fa2f2ff33417a977871f412d32ce21

[2017-03-02 05:26] ZAZmaster commented on #30
Also getOtherKey method has been renamed to getOwnerKey in 5.4

[2017-04-14 19:25] jerauf opened #31 "Only returning object"
I've got everything set up exactly as in the info on this repo. But when I try to sort, I get this:

[code]

What am I doing wrong?

[2017-07-01 11:29] moussaclarke commented on #30
You can replace all instance of getBelongsToManyCaller with getRelations - seems to work although haven't really tested extensively. I could do a pull request for this but would obviously break 5.3 compatibility. Maybe I'll fork it and link here?

[2017-07-01 12:04] moussaclarke commented on #30
Here you go:
https://github.com/moussaclarke/rutorika-sortable/commit/1222ff328965fd09586ea0a032e6e7fbb520b924

NB: PHPUnit tests are all failing on my machine, but I think that's related to [this](https://github.com/orchestral/testbench/issues/155) and I don't really have time to look into it

[2017-07-01 12:09] moussaclarke commented on #30
And this for the other method that @ZAZmaster mentioned:
https://github.com/moussaclarke/rutorika-sortable/commit/25a7d190d0d6f0a0a883595b39d8a3a351d5ff4b

[2017-07-04 14:27] boxfrommars commented on #30
@moussaclarke could you create a pull request with this chnages?

[2017-07-04 14:39] SRWieZ commented on #30
https://github.com/troydildine/rutorika-sortable/commits/bugfix
This version is working great in 5.4
@troydildine

[2017-07-05 01:48] #27 closed

[2017-07-05 01:55] boxfrommars commented on #30
Laravel 5.4 was added in [version 3.4](https://github.com/boxfrommars/rutorika-sortable/releases/tag/3.4.0). Thank you all!

[2017-07-05 02:00] boxfrommars commented on #29
No, multiple rows drag'n'drop isn't supported. But you can write your own Controller which handle нщгк
requirements

[2017-07-05 02:00] #29 closed

[2017-07-05 02:00] boxfrommars commented on #31
Can you show your request data?

[2017-07-05 02:01] #25 closed

[2017-07-05 13:25] troydildine commented on #30
Thanks @boxfrommars! Appreciate that.

[2017-07-06 04:53] #30 closed

[2017-07-07 07:00] #31 closed

[2017-07-11 08:24] IvanRibakov opened #33 "Laravel 5 (v.3.4.0) manyToMany sync() doesn't update position"
I'm using Laravel 5 and have updated plugin to version 3.4.0. Everything seems to work as expected during the seeding - records are created using `attach()` method and `position` column on the pivot table is populated correctly. However, during the edit, when sending to controller reordered list of child records and using `sync()` to update parent record, no changes to `position` column take place

[2017-07-11 09:35] boxfrommars commented on #33
@IvanRibakov Hm, all tests are passed. Can you create testcase for this bug?

[2017-07-11 09:36] boxfrommars commented on #33
or just show your request data and controller

[2017-07-11 10:08] IvanRibakov commented on #33
Relevant part of the request data where `67` and `18` are color IDs that are already attached and have position values `18 => 1` and `67 => 2`:
[code]

And controller method:
[code]

[2017-07-11 16:23] boxfrommars commented on #33
Thank you. I think I found what is going wrong. I'll try to fix it today.

[2017-07-11 16:25] boxfrommars commented on #33
However you can fix it in your controller by detaching all colors before syncing:
[code]

[2017-07-12 11:52] boxfrommars commented on #33
@IvanRibakov Fixed in 3.4.1

[2017-07-13 21:31] #33 closed

[2017-07-29 03:40] rdpascua opened #37 "belongsToSortedMany has issue with same values inserted (laravel 5.4)"
I'm using `belongsToSortedMany` in the immediate model in `Playlist`.

[code]

What happen is when I perform `moveBefore` or `moveAfter` the position of the `tracks` are all the same.

## After the `move` operation

**playlist_track**

playlist_id | track_id|position
--------------|-------------|--
1|1|2
1|1|2

**tracks**

id|name
---|----
1|Foo
2|Bar

**playlists**

id|name
---|-----
1|Sample Pla

[2017-07-31 02:36] lvc2202 opened #38 "Cannot save position when drag and drop the table data"
There don't have any error and i can get the entity and the position id as well. But I'm not sure why it can't save the position in the database. Pls help me , thank you.

[2017-07-31 09:52] lvc2202 commented on #38
I realized the movebefore and moveafter didn't save my position data.
Any idea ?

[2017-07-31 11:44] divyasreem opened #39 "Position is not getting saved"
I am passing data like this
type:moveAfter
entityName:leadgen_parameters
id:1
positionEntityId:2

response : {"success":true}

But there is problem in saving the position, failed the steps in readme file

New to laravel

[2017-07-31 14:59] boxfrommars commented on #39
@divyasreem hello! can you show your sortable config? (`config/sortable.php`)

[2017-07-31 15:00] boxfrommars commented on #38
what version of laravel and rutorika-sortable do you use?

[2017-08-01 01:09] lvc2202 commented on #38
rutorika-sortable 3.4 and  laravel 5.4.28

[2017-08-01 05:49] lvc2202 commented on #38
config/sortable.php

<?php

return [
    'entities' => [
        // 'articles' => '\Article' for simple sorting (entityName => entityModel) or
        // 'articles' => ['entity' => '\Article', 'relation' => 'tags'] for many to many or many to many polymorphic relation sorting
        'scrollquestion' => '\App\Scroll_Question', // entityNameForUseInRequest => ModelName
    ],
];

[2017-08-01 09:52] boxfrommars commented on #38
Try to do this in tinker:
[code]
If all is ok, then positions of first and second entities must be flipped

[2017-08-01 10:07] lvc2202 commented on #38
This one I should be put in where ? Controller or Model ?

[2017-08-01 10:24] boxfrommars commented on #38
in command line
see https://laracasts.com/series/laravel-5-fundamentals/episodes/8 since 1:45

[2017-08-01 10:36] lvc2202 commented on #38
During this line "$first->moveAfter($second);" , it returns null.
Print $first->position; and print $second->position; return 1 for both

[2017-08-01 10:49] boxfrommars commented on #38
ok, undestood. Did you add position behaviour when you already have some data in scroll_questions table?

[2017-08-01 10:51] boxfrommars commented on #38
you can fix this with this code in tinker:
[code]

[2017-08-01 10:53] boxfrommars commented on #39
@divyasreem may be the same issue?
https://github.com/boxfrommars/rutorika-sortable/issues/38

[2017-08-01 11:18] lvc2202 commented on #38
But I do this in tinker with this code, it won't help in actual coding for this package right ?

[2017-08-01 11:20] lvc2202 commented on #38
I think I didn't added the position behavior. I just followed the instruction u wrote.

[2017-08-02 06:07] divyasreem commented on #39
Hi,
Able to solve the issue.

Thanks a lot.

On Tue, Aug 1, 2017 at 4:23 PM, Dmitry Groza <notifications@github.com>
wrote:

--
Divya Sree

Principal engineer
Mantra Labs Pvt Ltd, Bangalore

M:+91 9986101098 | W: www.mantralabsglobal.com
<http://mantralabsglobal.com/>

[2017-08-02 10:34] divyasreem opened #40 "Is it possible to have empty rows"
Hi,

I have some requirement  where I can leave some empty rows in between.
Need to store the position of empty row also.

In order to display in particular position.
Please let me know How can I achieve this.

[2017-08-02 10:34] #39 closed

[2017-08-02 22:05] boxfrommars commented on #40
What do you mean by empty rows?

[2017-08-03 01:37] lvc2202 commented on #38
This code i have tried but not working.
~/Workspace/your-project$ php artisan tinker
Psy Shell v0.8.9 (PHP 5.6.31-1~ubuntu16.04.1+deb.sury.org+1 — cli) by Justin Hileman

[2017-08-03 06:29] lvc2202 commented on #38
$entity = Article::find(1);
$positionEntity = Article::find(10)
$entity->moveAfter($positionEntity);

$article = new Article();
$article->title = $faker->sentence(2);
$article->description = $faker->paragraph();
$article->save();
do I need to add this codes to save to the position ?
If yes, where should I put it ?
And sry for keep bothering you.

[2017-08-03 09:41] lvc2202 commented on #38
It's working now, I realized that I set my position default value is zero in DB so it can't sort.
Thank you for helping me so much ^_^
And just to let u know when the position has the same value, it can sort but it can't save the position value.

[2017-08-03 09:42] #38 closed

[2017-08-03 09:46] divyasreem commented on #40
Can you please check the screenshot
![screen shot 2017-08-03 at 3 15 12 pm](https://user-images.githubusercontent.com/4035450/28916100-b57b8de0-785e-11e7-9207-fc846605308d.png)

Need to relate between two columns

[2017-08-03 10:09] lvc2202 commented on #38
If can I suggest you let other user know that position number cannot be the same.

[2017-08-07 07:11] divyasreem opened #41 "Is it possible to update one more field while updating the postion"

[2017-08-09 21:34] tsufurukawa opened #42 "syncWithoutDetaching does not work properly on belongsToSortedMany relations"
Hi! I haven't had the chance to really dig into this issue but I noticed that using `syncWithoutDetaching` on a `belongsToSortedMany` relation will simply act as a normal `sync`.

I wasn't sure if the library simply doesn't support `syncWithoutDetaching` or if this is a bug. I can try to investigate further when I have some time but just pointing it out in case anyone had any feedback.

[2017-08-15 14:05] dath opened #43 "Database table cannot be found if model is using a specific database connection"
If the sortable model is using a specific database connection, its base table cannot be found since the connection name is not considered at the moment.

The validator fails with the following PDOException during calling the sort function of the SortableController:

StackTrace points to

The reason why the table cannot be found is the missing name of the database connection prepended to the table

[2017-08-28 22:37] #43 closed

[2017-08-28 22:39] boxfrommars commented on #43
@dath Thank you! Great work!

[2017-08-31 11:41] ZAZmaster opened #45 "Laravel 5.5 support"
Hello!

I got error

when use `morphedBySortedMany`

On 5.4 this code work fine.

[2017-08-31 19:30] boxfrommars commented on #45
Laravel 5.5 is now supported in [v4.0](https://github.com/boxfrommars/rutorika-sortable/releases/tag/4.0)

[2017-08-31 19:39] boxfrommars commented on #41
You can write your own event handler. Or update field manually after save

[2017-09-01 04:34] ZAZmaster commented on #45
But morphedBySortedMany returns an empty collection now :(

[2017-09-01 11:35] boxfrommars commented on #45
Hm, i found that there is no tests exists for morphedBySortedMany :( i'll try to fix it today

[2017-09-12 06:18] ZAZmaster commented on #45
Any news?

[2017-09-15 02:38] imam opened #48 "`byPosition` scope"
In my application, I'm always creating `byPosition` scope to fetch data by the position. Is there any similar functionality already written? Or may I make one?

[2017-09-21 07:04] lvc2202 opened #49 "It's not working in mobile."
Is there any way to make the extension working in mobile ? Pls help thank you.

[2017-09-21 11:06] lvc2202 commented on #49
Nevermine, I found it http://touchpunch.furf.com/

[2017-09-21 11:06] #49 closed

[2017-09-29 14:07] boxfrommars commented on #48
Yes, you can use `->sorted()` scope

[2017-09-29 14:08] boxfrommars commented on #48
From docs:

[code]

[2017-09-29 14:16] boxfrommars commented on #42
@SRWieZ Thank you! I have merged your fix and bump version to 4.1

[2017-09-30 06:26] #42 closed

[2017-09-30 06:57] imam commented on #48
Oh sorry, I think I'm not giving the right context. I mean that we can pass a simple query `byPosition($position)` and then get a single datum in that exact position. For instance, I want to get an article that is in position 3, I just pass that query, and got the result that I wanted.

[2017-10-02 16:19] boxfrommars commented on #48
ok, i understood. but it isn't good idea to get entities with the query like this:
[code]
because entity with this position can be deleted.

it is better to get for example third entity from start with something like this:
[code]

[2017-10-19 23:32] cvassios-ekko opened #52 "Confused by Setup"
Using Laravel 5.3.31, I ran `composer require rutorika/sortable:3.4.1`, continued through the steps in README, and when I got to

I add `use \Rutorika\Sortable\SortableTrait;` to my model and get an error "Trait 'Rutorika\Sortable\SortableTrait' not found".

I'm lost after this.

[2017-10-23 12:36] imam commented on #48
Sorry for the long response.

How about we create two methods? `byPosition` and `byOffset`?

[2017-11-23 10:20] ZAZmaster commented on #45
@boxfrommars two months have passed ...))))

[2017-11-24 05:53] ZAZmaster commented on #45
I found bug and create pull request https://github.com/boxfrommars/rutorika-sortable/pull/53

[2017-11-29 12:27] boxfrommars commented on #45
thank you! sorry for delay. i merged your pull request. see [version 4.2](https://github.com/boxfrommars/rutorika-sortable/releases/tag/4.2)

[2017-11-29 12:30] boxfrommars commented on #52
example of trait usage: https://github.com/boxfrommars/rutorika-sortable-demo5/blob/master/app/Article.php

[2017-11-29 12:34] boxfrommars commented on #48
@imam `byOffset` -- ok, (get third entity looks good), But i dont like `byPosition` -- position value is internal value you shouldn't use it in your code.
I'll implement `byOffset` in next release

[2017-11-29 12:37] boxfrommars commented on #37
@rdpascua Is the question still actual? sorry for silence

[2017-11-29 12:37] #41 closed

[2017-11-29 12:44] boxfrommars commented on #40
i think you need frontend sorting. for example [Sortable](https://github.com/RubaXa/Sortable) or [jQuery UI Sortable](https://jqueryui.com/sortable/)

[2017-11-29 12:44] #40 closed

[2017-11-29 13:11] ZAZmaster commented on #45
thank you!

[2018-01-18 13:24] vsuta commented on #52
I had it perfect working in laravel 4.2.

now on laravel 5.5. I get error:

message | The payload is invalid.
-- | --

[2018-01-19 13:43] boxfrommars commented on #52
@vsuta Can you show the whole error message?

[2018-01-19 13:45] #45 closed

[2018-01-19 13:45] #37 closed

[2018-01-19 23:50] vsuta commented on #52
Hi @boxfrommars I got it to work. It was Token Mismatch, but the laravel throw different error.
It works as expected after ajax setup.
Thank you for  this great package!

[2018-02-12 16:27] shabaz-ejaz opened #54 "General error: 1364 Field 'position' doesn't have a default value"
I keep getting this error whenever I try to save a new sortable record.

My `config:sortable`:

[code]

Model:
[code]

I am using Laravel 5.5 and `"rutorika/sortable": "^4.2",`. Any ideas?

[2018-02-12 17:19] #54 closed

[2018-02-12 17:26] shabaz-ejaz opened #55 "The selected id is invalid. - Laravel 5.5"
I keep getting these errors when trying to sort:

![2018-02-12_17h27_20](https://user-images.githubusercontent.com/29374282/36110300-04f16b6c-101a-11e8-8aeb-ecc26242dd87.png)

Here is my config:

[code]

I have definitely got the naming of the class right. Is it something I am missing in my view file?

[code]

The jQuery:

[code]

[2018-02-26 07:11] pilishen opened #56 "any plan to support laravel 5.6?"
any plan to support laravel 5.6?
best regards~

[2018-03-16 13:15] xama5 commented on #56
Appears to work for me just fine. It will only work for new records though. If you already have records in your database and want to re-position them it's not working,  since all of them have the position 0 per default. (might be a bug or feature, it's up to @boxfrommars :) )

[2018-03-26 08:50] AhmedHdeawy opened #58 "Issue and Solution: Sort the second item to first item"
first of all, thanks for this nice package

The issue:
when I try to sort the second item in the list to the first item, I got the error
" positionEntityId is required "

then I made a review for jQUery code and I found you check if previous or next is greater than zero

`if( $previous.length > 0 )`
  // do
`else if( $next.length > 0 )`
  // do

but when i make console.log for [  $previous.length

[2018-04-04 20:18] elephantux opened #59 "Position actual number"
How to show record actual number not position?
In DB position may start from 59, 60, 61 and I need to show it actual number 1,2,3...

[2018-04-04 20:22] #59 closed, assigned to nobody

[2018-04-20 10:08] shabaz-ejaz commented on #55
Any updates on this? It's been 2 months since I posted.

[2018-06-01 10:34] hankin-h-k opened #62 "$entity->moveAfter($positionEntity);"
Call to a member function beginTransaction() on null

[2018-06-01 14:36] k8n opened #63 "sorted scope should sort with respect to sortableGroupField"
[scopeSorted](https://github.com/boxfrommars/rutorika-sortable/blob/d99db0a18bb004b49b7e6fdd82b5787b35e1dcfd/src/Rutorika/Sortable/SortableTrait.php#L51) should order by ```sortableGroupField``` as well as ```sortableField```. Otherwise, $this->hasMany()->sorted() returns mis-ordered result (especially noticeable when with composite sort group).

E.g.
[code]

scopeSorted should probably look like

[2018-06-14 23:27] impactcolor opened #64 "working example?"
Thank you for this package.  Is there any working example?
Also will it work on laravel 5.6?

[2018-09-18 19:02] wemteqdev opened #65 "Laravel 5.7 support?"
is it compatible with laravel 5.7 now?

[2018-10-30 16:38] esl51 commented on #65
Yes, it is compatible, just checked.

[2018-11-22 00:12] mattboban commented on #65
@esl51 unfortunately not as I've just noticed a compatibility issue in BelongsToSortedManyTrait:

would oyu accept a PR?

[2018-11-22 05:52] esl51 commented on #65
I'm not a maintainer of this package.

[2018-11-27 12:09] boxfrommars commented on #65
@wemteqdev Yes, version 4.7 of this package is now compatible with laravel 5.7 (thanks @timothyasp and @troydildine)

[2018-11-27 12:10] #62 closed

[2018-11-27 12:10] #56 closed

[2018-11-27 12:12] #55 closed

[2018-11-27 12:12] #64 closed

[2018-11-27 12:15] #52 closed

[2018-11-27 12:19] #48 closed

[2018-11-29 09:01] #65 closed

[2019-03-29 17:15] k8n opened #68 "Strict equality of the sortable group field values that are cast is uncertain"
https://github.com/boxfrommars/rutorika-sortable/blob/d99db0a18bb004b49b7e6fdd82b5787b35e1dcfd/src/Rutorika/Sortable/SortableTrait.php#L293

The comparison should read `if ($entity1->$field != $entity2->$field) ` (single equals sign).

In my model, in Laravel 5.7, `date` field is part of the sort group. If date is being cast (`protected $casts = ['date' => 'datetime:Y-m-d']`, `checkFieldEquals` fa

[2019-09-15 07:20] simeonbugarija opened #69 "Call to undefined function Rutorika\Sortable\array_get()"
Hello,

first of all, thank you for your package, it's really great and I've been using it for a really long time now.

Recently I upgraded my CMS to Laravel framework version 6.0 and your package is not working anymore, looks like it does not support this version of the Laravel framework.

The problem is that since Laravel version 6.0 the helper method array_get() doesn't exists, it was changed t

[2019-09-15 08:20] simeonbugarija commented on #69
Found out that the helper functions have been moved to a separate package laravel/helpers, so everything works fine after you install it.

[2019-09-15 08:20] #69 closed

[2019-11-15 08:12] launchriot commented on #54
I have the same problem, how did you solve it?

[2020-03-12 09:19] emco83 opened #71 "Laravel 7 support?"
Currently this plugin doesn't work on Laravel 7.
Any fix available?

[2020-03-12 09:35] boxfrommars commented on #71
@emco83 Hi!
I will add support for the new version in the near future (today I think). Thank you for reporting!

[2020-03-14 08:29] Magiczne commented on #71
Any update on this?

[2020-03-14 11:27] boxfrommars commented on #71
@emco83 @Magiczne
Hi! Sorry for delay.
I've just realised version 7.0.0 with Laravel 7 support: https://github.com/boxfrommars/rutorika-sortable/releases/tag/7.0.0

[2020-03-14 11:33] Magiczne commented on #71
Thanks a lot!

[2020-03-14 12:07] #71 closed

[2020-03-14 12:15] emco83 commented on #71
Great job, it's working great!

I have one suggestions: since Laravel 5.5 many plugins are using the automated technique with service providers, which means you won't need to add manually the service provider in config/app.php file.

It would be nice if you create a version with such functionality, so that step with the setup will be skipped.

[2020-03-29 20:51] edmasonline opened #74 "Call to a member function getAttribute() on null"
Hello, i have problem

vendor/rutorika/sortable/src/Rutorika/Sortable/SortableTrait.php on line 92
My DB table position col is broken queue. I'm not sure if it affects.
![index](https://user-images.githubusercontent.com/10058912/77860415-cb5e7180-7217-11ea-9c10-d9f9dcf774b8.png)

[2020-03-29 23:17] boxfrommars commented on #74
**About gaps**: position column is for ordering only, so gaps don't affect anything. This gaps appear if you delete some items. Because after deletion the column is not recalculated. And it's OK to have them.

**About error**: this error is caused by the absence of a `$positionEntity`:
[code]
so check how you select the `$positionEntity`

[2020-07-24 15:04] alexpisotsky opened #75 "belongsToSortedMany relationships does't work with PivotEventTrait"
Hi! I have the problem with belongsToSortedMany relationship.

In my project, I have a revision system for some models.
I use PivotEventTrait he has **pivotAttached**,  **pivotDetached** methods and etc.

With standard relationship **belongsToMany** everything is good, but when I use belongsToSortedMany, it does not work

The library pivot - https://github.com/fico7489/laravel-pivot
Laravel versio

[2020-08-14 11:28] alexpisotsky opened #76 "Is is possible in belongsToSortedMany set a new item position 1 and also reorder other item"
Sdantard works module, all new items have order number last item + 1.  Is it possible when a new item will be first (has position 1) and other items will be reordered automatically?

[2020-08-14 13:26] boxfrommars commented on #76
You can do it by moving new item before the first item. Something like:
[code]

[2020-08-14 13:31] #74 closed

[2020-08-14 14:28] #76 closed

[2020-09-12 14:27] #58 closed

[2020-09-12 14:27] #63 closed

[2020-09-12 14:28] #68 closed

[2020-09-12 14:28] #75 closed